<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<div layout:fragment="content">

    <input type="hidden" id="itemId" th:value="${item.id}">

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" th:style="'background-image: url(' + ${item.itemImgDtoList[0].imgUrl} + ')'">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>[[${item.itemNm}]]</h3>
                                <span>[[${item.price}]]</span>
                            </div>
                            <p>[[${item.itemDetail}]]</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Genre: </span>[[${item.genre}]]</li>
                                            <li><span>Developer: </span>[[${item.developer}]]</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <button class="follow-btn" type="button" onclick="addCart()">
                                    <i class="fa fa-heart-o"></i> ADD CART</button>
                                <button class="follow-btn" type="button" onclick="order()">
                                    <i class="fa fa-heart"></i> ORDER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>리뷰</h5>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="프로필 사진 경로" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>닉네임 -<span>작성 시간</span></h6>
                                <p>리뷰 내용</p>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="img/anime/review-2.jpg" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>Lewis Mann - <span>5 Hour ago</span></h6>
                                <p>Finally it came out ages ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment(댓글 작성)</h5>
                        </div>
                        <form action="#">
                            <textarea placeholder="후기를 입력하세요"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> 리뷰 버튼 내용</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>너가 아마 좋아할걸 추천</h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">제목 노출</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    <!-- Anime Section End -->



</div>

</html>