<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}"/>

    <!-- 사용자 스크립트 추가 -->
    <script th:inline="javascript">

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : 1
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : 1
            };
            console.log(paramData);

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function saveReview() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var reviewText = $("textarea").val();

            // 현재 로그인한 사용자의 이메일과 아이템 아이디를 가져옵니다.
            var memberEmail = $("#loggedInUserEmail").val();
            var itemId = $("#itemId").val();

            var data = {
                text: reviewText,
                itemNm: String(itemId),  // itemId를 문자열로 변환
                writerEmail: memberEmail
            };

            $.ajax({
                url: "/review/registerAjax",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                dataType: "text",
                cache: false,
                success: function(response) {
                    console.log("Success response received");
                    location.reload();
                },
                error: function(jqXHR, status, error) {
                    console.log("Error response received: ", status, error);
                }
            });
        }

        $(document).ready(function() {
            // 리뷰 버튼에 이벤트 리스너 추가
            $("button[type='submit']").on("click", function(event) {
                event.preventDefault();  // 폼의 기본 제출 이벤트를 막습니다.
                saveReview();
            });

            $('.review-time').each(function() {
                var time = $(this).text();
                var fromNow = moment(time).fromNow();
                $(this).text(fromNow);
            });
        });


    </script>

</head>

<div layout:fragment="content">

    <input type="hidden" id="itemId" th:value="${item.id}">
    <input type="hidden" id="loggedInUserEmail" th:value="${member.email}">

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" th:style="'background-image: url(' + ${item.itemImgDtoList[0].imgUrl} + ')'">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>[[${item.itemNm}]]</h3>
                                <span>[[${item.price}]]</span>
                            </div>
                            <p>[[${item.itemDetail}]]</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Genre: </span>[[${item.genre}]]</li>
                                            <li><span>Developer: </span>[[${item.developer}]]</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <button class="follow-btn" type="button" onclick="addCart()">
                                    <i class="fa fa-heart-o"></i> ADD CART</button>
                                <button class="follow-btn" type="button" onclick="order()">
                                    <i class="fa fa-heart"></i> ORDER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        <th:block th:each="review : ${reviews}">
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <!-- 아래 이미지 경로는 리뷰 작성자의 프로필 이미지나 기본 이미지로 변경할 수 있습니다. -->
                                    <img src="#" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>
                                        <span th:text="${#strings.substring(review.writerName, 0, 3) + '***' + ' - '}"></span>
                                        <span class="review-time" th:text="${review.regTime}"></span>
                                    </h6>
                                    <p th:text="${review.text}"></p>
                                </div>
                            </div>
                        </th:block>
                        <div class="anime__details__form" th:if="${hasOrdered}">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <!-- 주문이 취소된 경우와 아닌 경우에 따라 placeholder 값을 변경한다. -->
                                <textarea th:placeholder="${orderCancelled} ? '주문을 취소한 경우 후기를 작성할 수 없습니다.' : 'Your Comment'"></textarea>
                                <button type="submit" th:disabled="${orderCancelled}"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->
</div>

</html>