<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}" lang="ko">

<div layout:fragment="content">

  <!-- Login Section Begin -->
  <section class="login spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="login__form">
            <h3>Login</h3>
            <form role="form" method="post" action="/members/login">
              <div class="input__item">
                <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
                <span class="icon_mail"></span>
              </div>
              <div class="input__item">
                <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
                <span class="icon_lock"></span>
              </div>
              <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
              <button type="submit" class="site-btn">Login Now</button>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
            <a href="#" class="forget_pass">Forgot Your Password?</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="login__register">
            <h3>Dont’t Have An Account?</h3>
            <button type="button" class="primary-btn" onClick="location.href='/members/new'">Register Now</button>
          </div>
        </div>
      </div>
      <div class="login__social">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="login__social__links">
              <span>or</span>
              <ul>
                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With
                  Facebook</a></li>
                <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Login Section End -->

</div>

</html>