<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<div th:fragment="header">

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Homepage</a></li>
                                <!-- EVERYONE(GUEST, USER, ADMIN) -->
                                <li>
                                    <a class="nav-link" href="/review/list">커뮤니티</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">공지사항</a>
                                </li>
                                <!-- ONLY USER  -->
                                <li sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                                    <a class="nav-link" href="/cart">장바구니</a>
                                </li>
                                <li sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                                    <a class="nav-link" href="/orders">구매이력</a>
                                </li>
                                <li sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                                    <a class="nav-link" href="/members/loginInfo">마이페이지</a>
                                </li>
                                <!-- ONLY ADMIN -->
                                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a href="#">관리자 페이지 <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                            <a class="nav-link" href="/admin/item/new">상품 등록</a></li>
                                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                            <a class="nav-link" href="/admin/items">상품 관리</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <!-- 로그인 되지 않았을 때만 로그인 아이콘 표시 -->
                        <a class="nav-link" th:href="@{/members/login}"
                           sec:authorize="!isAuthenticated()">
                            <span class="icon_profile"></span></a>
                        <!-- 로그인 되었을 때만 로그아웃 링크 표시 -->
                        <a class="nav-link" th:href="@{/members/logout}"
                           sec:authorize="isAuthenticated()">Logout</a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

</div>

</html>